<div class="row">
	<form (ngSubmit)="onSubmit()" class="col-md-3 col-sm-12">
		<div class="input-group">
			<div class="input-group-addon">{{ 'search.zipcode' | translate }}</div>
			<input type="text" class="form-control" required size=8 minlength=8 maxlength=8 placeholder="00000000" [(ngModel)]="zipcode" [ngModelOptions]="{standalone: true}" />
		</div>
		<p class="form-text text-muted">
		{{ 'search.disclaimer' | translate }}
		</p>
		<footer class="float-sm-right">
			<button type="submit" class="btn btn-primary">{{ 'search.button' | translate }}</button>
		</footer>
	</form>
	<section class="col-md-9">
		<sk-fading-circle *ngIf="is_searching"></sk-fading-circle>
		<div itemscope itemtype="http://schema.org/ContactPoint" *ngIf="address" class="card"> 
			<ul class="list-group list-group-flush" itemscope itemtype="schema.org/PostalAddress"> 
				<li class="list-group-item" itemprop="streetAddress">{{ address.street }}</li> 
				<li class="list-group-item" itemprop="addressLocality">{{ 'result.city' | translate }}: {{ address.city }}</li>
				<li class="list-group-item" itemprop="addressRegion">{{ 'result.state' | translate }}: {{ address.state }}</li> 
				<li class="list-group-item" itemprop="postalCode">{{ 'result.zipcode' | translate }}: {{ address.cep }}</li> 
			</ul>
		</div>

		<div class="alert alert-warning" *ngIf="error">
			<h3>{{ error.message }}</h3>
			{{ error }}
		</div>
	</section>
</div>